.section {
  display: flex;
  padding: 0rem 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  /* border: 2px solid green; */

}

.wrapper {
  /* border: 2px solid green; */
  display: flex;
  max-width: 70rem;
  width: 100%;
  min-height: 37.5rem;
  padding: 4rem 0rem;
  justify-content: center;
  align-items: center;
}

.backgroundWrapper {
  position: relative;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.amenitiesBackground{
  background-color: var(--primary-color);
}



