.hero {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  border: 5px solid pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(47, 79, 79, 0.42) 66%,
    rgba(0, 0, 0, 0) 77%
  );
}

.wrapper{
    border: 3px solid yellow;
    max-width: 70rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 5;
}

.content {
border: 5px solid burlywood;
width: 100%;
display: flex;
flex-direction: column;
gap: 1.5rem;
color: var(--white-color);
}

.content span {
    font-size: 5.625rem;
}


