.otherOffer {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header h5 {
  color: var(--secondary-color);
}

.header p {
  color: var(--text-color);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.imageContainer {
  height: 42.625rem;
  max-width: 58rem;
  align-self: stretch;
  align-self: center;
  width: 100%;
  padding: 0 2rem;
}

.imageContainer img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
