.about {
  width: 100%;
  display: flex;
}

.left,
.imageContainer {
  width: 100%;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header h4 {
  color: var(--primary-color);
  padding-left: 1rem;
}

.header h2 {
  color: var(--white-color);
}



.content {
  display: flex;
  min-height: 34.0625rem;
  padding: 4rem;
  opacity: 0.93;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.5rem;
  align-self: stretch;
  background-color: var(--background-color);
}

.content p{
  color: var(--text-color);
}

.imageContainer {
  min-height: 42.5625rem;
  height: 100%;
  display: flex;
}

.imageContainer img {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 992px) {
.about {
  flex-direction: column;
  gap: 2rem;
  max-width: 44rem;
  align-items: center;
}

.imageContainer{
  max-width: 22rem;
  width: 100%;
  min-height: auto;
}


}