.pageHeader {
  margin-top: 7.5rem;
 width: 100%;
 padding: 5rem 0;
 display: flex;
 justify-content: space-between;
}

.pageHeader h2 {
  color: var(--white-color);
}

.pageHeader span {
  font-size: 4.375rem;
}

.socialLinks {
  display: flex;
align-items: center;
gap: 2rem;
}

.link {
  display: flex;
width: 3.5rem;
height: 3.5rem;
padding: 0.75rem;
justify-content: center;
align-items: center;
gap: 0.625rem;
border-radius: 6.25rem;
border: 2px solid var(--white-color);
cursor: pointer;
}