/* Reset & Globals */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  /* Colors */
  --primary-color: #2F4F4F;
  --secondary-color: #E6AF37;
  --background-color: #F5F3F5;
  --text-color: #1C1C1C;
  --accent-color: #8C8C8C;
  --white-color: #FFFFFF;

  /* Font */
  --primary-header: "Manrope", sans-serif;
  --secondary-header: "Playfair Display", sans-serif;
  --body-font: "DM Sans", sans-serif;
}

body {
  min-width: 375px;
}