.moreOffer{
  display: flex;
  flex-direction: column;
  gap: 3.38rem;
}

.header{
display: flex;
flex-direction: column;
gap: 2.25rem;
}

.title span{
font-size: 2.1875rem;
}

.imageContainer {
  height: 17.5rem;
  border: 4px solid green;
}